{
	"openapi": "3.1.0",
	"info": { "title": "application/json", "version": "1.1-CRM" },
	"servers": [{ "url": "https://api.pipe.run/v1" }],
	"components": {
		"securitySchemes": { "sec0": { "type": "apiKey", "name": "token", "in": "header" } }
	},
	"security": [{ "sec0": [] }],
	"paths": {
		"/companies": {
			"post": {
				"summary": "Adicionar empresa",
				"description": "",
				"operationId": "adicionar-empresa",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"required": ["name"],
								"properties": {
									"name": { "type": "string", "description": "Nome da empresa." },
									"city_id": {
										"type": "integer",
										"description": "ID da cidade da empresa.",
										"format": "int32"
									},
									"manager_id": {
										"type": "integer",
										"description": "ID da conta do usuário CS responsável.",
										"format": "int32"
									},
									"segment_id": {
										"type": "integer",
										"description": "ID do segmento de negócio da empresa.",
										"format": "int32"
									},
									"cnae_id": {
										"type": "integer",
										"description": "ID do CNAE principal da empresa.",
										"format": "int32"
									},
									"cnaes": {
										"type": "array",
										"description": "CNAEs secundários da empresa.",
										"items": {
											"properties": {
												"id": { "type": "string", "description": "ID do CNAE secundário" }
											},
											"type": "object"
										}
									},
									"cnpj": {
										"type": "string",
										"description": "CNPJ da empresa.  Formatos aceitos: \"XXXXXXXX0001XX\" e \"XX.XXX.XXX/0001-XX\"."
									},
									"website": { "type": "string", "description": "URL do website da empresa." },
									"email_nf": {
										"type": "string",
										"description": "E-mail da empresa para envio de nota fiscal."
									},
									"logo": {
										"type": "string",
										"description": "URL apontando para logomarca da empresa."
									},
									"observation": {
										"type": "string",
										"description": "Observações sobre a empresa."
									},
									"address_postal_code": {
										"type": "string",
										"description": "Código postal da empresa."
									},
									"address": { "type": "string", "description": "Rua da empresa." },
									"address_number": {
										"type": "string",
										"description": "Número do endereço da empresa."
									},
									"address_complement": {
										"type": "string",
										"description": "Complemento do endereço da empresa."
									},
									"company_name": { "type": "string", "description": "Nome da empresa." },
									"ie": {
										"type": "string",
										"description": "Número da inscrição estadual da empresa."
									},
									"district": { "type": "string", "description": "Bairro do endereço da empresa." },
									"country": { "type": "string", "description": "País do endereço da empresa." },
									"facebook": {
										"type": "string",
										"description": "URL da página do Facebook da empresa."
									},
									"linkedin": {
										"type": "string",
										"description": "URL da página do Linkedin da empresa."
									},
									"customer_at": {
										"type": "string",
										"description": "Data em que a empresa se tornou cliente.",
										"format": "date"
									},
									"foundation_at": {
										"type": "string",
										"description": "Data da fundação da empresa.",
										"format": "date"
									},
									"company_type": {
										"type": "integer",
										"description": "Tipo de empresa:  1: Cliente, 2: Fornecedor, 3: Franquia, 4: Transportadora, 5: Canais.",
										"format": "int32"
									},
									"company_situation": {
										"type": "integer",
										"description": "Situação da empresa: 1: lead, 2: lead suspect, 3: lead qualificado de marketing (MQL), 4: lead qualificado de vendas (SQL), 5: lead aceito por vendas (SAL), 6: lead prospects (OPs), 7: cliente ativo, 8: cliente inativo, 9: cliente perdido.",
										"format": "int32"
									},
									"status_touch": {
										"type": "string",
										"description": "Modelo touch da empresa: 1: high touch, 2: middle touch, 3: low touch, 4: tech touch, 5: now touch."
									},
									"nps_score": {
										"type": "integer",
										"description": "Pontuação NPS da empresa.",
										"format": "int32"
									},
									"legal_nature": {
										"type": "string",
										"description": "Natureza jurídica da empresa. Campo preenchido automaticamente pela busca de CNPJ."
									},
									"social_capital": {
										"type": "number",
										"description": "Capital Social da empresa.",
										"format": "float"
									},
									"is_brand": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é uma marca."
									},
									"is_supplier": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é fornecedora."
									},
									"is_client": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é cliente."
									},
									"is_carrier": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é transportadora."
									},
									"is_franchise": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é franquia."
									},
									"is_channel": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é canal de venda."
									},
									"is_distributor": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é distribuidora."
									},
									"is_manufacturer": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é fabricante."
									},
									"is_partner": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é parceira."
									},
									"hash": { "type": "string", "description": "Hash identificadora da empresa." },
									"city": {
										"type": "object",
										"description": "Objeto de Cidade.",
										"properties": {}
									},
									"external_code": {
										"type": "string",
										"description": "Código externo, utilizado para integrações com outras ferramentas."
									},
									"status": {
										"type": "boolean",
										"description": "Situação cadastral da empresa: false: empresa desativada, true: empresa ativada."
									},
									"company_status": {
										"type": "boolean",
										"description": "Status da empresa: 1: lead, 2: cliente."
									},
									"foreign_contact": {
										"type": "boolean",
										"description": "Identifica se a empresa é estrangeira: true: empresa é estrangeira."
									},
									"size": { "type": "string", "description": "Porte da empresa." },
									"contactEmails": {
										"type": "array",
										"description": "Relação do(s) endereço(s) de contato de e-mail da empresa."
									},
									"contactPhones": {
										"type": "array",
										"description": "Relação do(s) telefone(s) de contato da empresa."
									},
									"customFields": {
										"type": "array",
										"description": "Array contendo os IDs e valores dos campos customizados.",
										"items": {
											"properties": {
												"id": {
													"type": "integer",
													"description": "ID do campo customizado.",
													"format": "int32"
												},
												"value": { "type": "string", "description": "Valor do campo customizado." }
											},
											"type": "object"
										}
									},
									"tags": {
										"type": "array",
										"description": "Array contendo os IDs das tags.",
										"items": {
											"properties": {
												"id": { "type": "integer", "description": "ID da Tag.", "format": "int32" }
											},
											"type": "object"
										}
									},
									"personsRelated": {
										"type": "array",
										"description": "Array que contém as pessoas que serão vinculadas a empresa.",
										"items": {
											"properties": {
												"id": {
													"type": "integer",
													"description": "ID da pessoa",
													"format": "int32"
												},
												"job_title": { "type": "string", "description": "Cargo da pessoa" },
												"is_main_company": {
													"type": "boolean",
													"description": "Se a empresa no qual a pessoa será vinculada é a principal empresa dela ou não",
													"default": false
												},
												"started_working_at": {
													"type": "string",
													"description": "Data que começou a trabalhar na empresa vinculada",
													"format": "date"
												}
											},
											"type": "object"
										}
									}
								}
							},
							"examples": {
								"Request Example": {
									"value": {
										"name": "CRM Piperun",
										"cnae_id": null,
										"city_id": 5271,
										"owner_id": 43447,
										"manager_id": 43446,
										"segment_id": 12345,
										"cnpj": "73.211.403/0001-53",
										"website": "www.Piperun.com.br",
										"email_nf": "teste@email.com.br",
										"logo": "https://example.org/logo.png",
										"hash": "ccef1438a94a1987539f0767bbda403c",
										"observation": "O CRM de Vendas PipeRun é orientado para a automatização e o aumento de performance de vendas para empresas que atuam com vendas complexas e gestão de canais. ",
										"address_postal_code": "90560-002",
										"address": "Av. Cristóvão Colombo, 2948",
										"address_number": "12",
										"address_complement": "Av. Cristóvão Colombo, 2948",
										"company_name": "odig",
										"ie": "473.710.660.535",
										"district": "centro",
										"country": "Brasil",
										"facebook": "www.piperun.com",
										"linkedin": "https://example.org/linkedin",
										"customer_at": "2020-02-19",
										"foundation_at": "1990-02-25",
										"company_type": 1,
										"company_status": 1,
										"company_situation": 1,
										"status_touch": 1,
										"nps_score": 20500,
										"social_capital": 20000,
										"is_brand": false,
										"is_supplier": true,
										"is_client": true,
										"is_carrier": false,
										"is_franchise": false,
										"contactEmails": [
											{ "email": "email@teste.com.br" },
											{ "email": "emai2l@teste.com.br" }
										],
										"contactPhones": [{ "phone": "(51)3212-00-00" }, { "phone": "(55)3212-00-00" }],
										"customFields": [
											{
												"id": 174738,
												"name": "Número de funcionários",
												"hash": "a942e157d34scb966dbf0787f78378152",
												"type": 1,
												"belongs": 3,
												"value": "45",
												"raw_value": "45",
												"formula": null,
												"output_type": null,
												"decimal_places": 0,
												"allow_negative": null,
												"currency_id": null,
												"thousand_sep": null,
												"options": null,
												"selected_options": null
											},
											{
												"id": 174738,
												"name": "Telefones validados",
												"hash": "a942e157d34scb966cbf0787f7837843",
												"type": 1,
												"belongs": 3,
												"value": "45",
												"raw_value": "45",
												"formula": null,
												"output_type": null,
												"decimal_places": 0,
												"allow_negative": null,
												"currency_id": null,
												"thousand_sep": null,
												"options": null,
												"selected_options": null
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "201",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"success\": true,\n  \"message\": \"Created\",\n  \"data\": [\n    {\n      \"id\": 748,\n      \"account_id\": 748,\n      \"cnae_id\": 748,\n      \"city_id\": 748,\n      \"owner_id\": 748,\n      \"manager_id\": 748,\n      \"segment_id\": 748,\n      \"name\": \"Teste\",\n      \"cnpj\": \"\",\n      \"website\": \"https://example.org/company\",\n      \"email_nf\": \"adm@odig.net\",\n      \"logo\": \"https://example.org/logo.png\",\n      \"hash\": \"ccef1438a94a1987539f0767bbda403c\",\n      \"observation\": \"\",\n      \"address_postal_code\": \"90560-002\",\n      \"address\": \"Av. Cristóvão Colombo, 2948\",\n      \"address_number\": \"12\",\n      \"address_complement\": \"\",\n      \"company_name\": \"odig\",\n      \"ie\": \"473.710.660.535\",\n      \"district\": \"centro\",\n      \"country\": \"Brasil\",\n      \"facebook\": \"\",\n      \"linkedin\": \"\",\n      \"city\": {\n        \"id\": 1,\n        \"uf\": \"RO\",\n        \"name\": \"Alta Floresta D'Oeste\"\n      },\n      \"cep\": \"90560-002\",\n      \"customer_at\": \"2020-02-19\",\n      \"foundation_at\": \"2020-02-19\",\n      \"created_at\": \"\",\n      \"company_type\": \"1\",\n      \"company_status\": 1,\n      \"company_situation\": 1,\n      \"status_touch\": 1,\n      \"nps_score\": 11222,\n      \"social_capital\": 111111,\n      \"is_brand\": true,\n      \"is_supplier\": true,\n      \"is_client\": true,\n      \"is_carrier\": true,\n      \"is_franchise\": true,\n      \"lat\": 1,\n      \"lng\": 1,\n      \"status\": 1,\n      \"external_code\": 1,\n      \"foreign_contact\": 0,\n      \"size\": 1,\n      \"contact_emails\": {\n        \"id\": 1,\n        \"account_id\": 748,\n        \"company_id\": 748,\n        \"person_id\": 748,\n        \"is_main\": 1,\n        \"type\": \"Comercial\",\n        \"email\": \"email@odig.net\"\n      },\n      \"contact_phones\": [],\n      \"custom_fields\": []\n    }\n  ]\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": true, "default": true },
										"message": { "type": "string", "example": "Created" },
										"data": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"id": { "type": "integer", "example": 748, "default": 0 },
													"account_id": { "type": "integer", "example": 748, "default": 0 },
													"cnae_id": { "type": "integer", "example": 748, "default": 0 },
													"city_id": { "type": "integer", "example": 748, "default": 0 },
													"owner_id": { "type": "integer", "example": 748, "default": 0 },
													"manager_id": { "type": "integer", "example": 748, "default": 0 },
													"segment_id": { "type": "integer", "example": 748, "default": 0 },
													"name": { "type": "string", "example": "Teste" },
													"cnpj": { "type": "string", "example": "" },
													"website": { "type": "string", "example": "https://example.org/company" },
													"email_nf": { "type": "string", "example": "adm@odig.net" },
													"logo": { "type": "string", "example": "https://example.org/logo.png" },
													"hash": {
														"type": "string",
														"example": "ccef1438a94a1987539f0767bbda403c"
													},
													"observation": { "type": "string", "example": "" },
													"address_postal_code": { "type": "string", "example": "90560-002" },
													"address": { "type": "string", "example": "Av. Cristóvão Colombo, 2948" },
													"address_number": { "type": "string", "example": "12" },
													"address_complement": { "type": "string", "example": "" },
													"company_name": { "type": "string", "example": "odig" },
													"ie": { "type": "string", "example": "473.710.660.535" },
													"district": { "type": "string", "example": "centro" },
													"country": { "type": "string", "example": "Brasil" },
													"facebook": { "type": "string", "example": "" },
													"linkedin": { "type": "string", "example": "" },
													"city": {
														"type": "object",
														"properties": {
															"id": { "type": "integer", "example": 1, "default": 0 },
															"uf": { "type": "string", "example": "RO" },
															"name": { "type": "string", "example": "Alta Floresta D'Oeste" }
														}
													},
													"cep": { "type": "string", "example": "90560-002" },
													"customer_at": { "type": "string", "example": "2020-02-19" },
													"foundation_at": { "type": "string", "example": "2020-02-19" },
													"created_at": { "type": "string", "example": "" },
													"company_type": { "type": "string", "example": "1" },
													"company_status": { "type": "integer", "example": 1, "default": 0 },
													"company_situation": { "type": "integer", "example": 1, "default": 0 },
													"status_touch": { "type": "integer", "example": 1, "default": 0 },
													"nps_score": { "type": "integer", "example": 11222, "default": 0 },
													"social_capital": { "type": "integer", "example": 111111, "default": 0 },
													"is_brand": { "type": "boolean", "example": true, "default": true },
													"is_supplier": { "type": "boolean", "example": true, "default": true },
													"is_client": { "type": "boolean", "example": true, "default": true },
													"is_carrier": { "type": "boolean", "example": true, "default": true },
													"is_franchise": { "type": "boolean", "example": true, "default": true },
													"lat": { "type": "integer", "example": 1, "default": 0 },
													"lng": { "type": "integer", "example": 1, "default": 0 },
													"status": { "type": "integer", "example": 1, "default": 0 },
													"external_code": { "type": "integer", "example": 1, "default": 0 },
													"foreign_contact": { "type": "integer", "example": 0, "default": 0 },
													"size": { "type": "integer", "example": 1, "default": 0 },
													"contact_emails": {
														"type": "object",
														"properties": {
															"id": { "type": "integer", "example": 1, "default": 0 },
															"account_id": { "type": "integer", "example": 748, "default": 0 },
															"company_id": { "type": "integer", "example": 748, "default": 0 },
															"person_id": { "type": "integer", "example": 748, "default": 0 },
															"is_main": { "type": "integer", "example": 1, "default": 0 },
															"type": { "type": "string", "example": "Comercial" },
															"email": { "type": "string", "example": "email@odig.net" }
														}
													},
													"contact_phones": {
														"type": "array",
														"items": { "type": "object", "properties": {} }
													},
													"custom_fields": {
														"type": "array",
														"items": { "type": "object", "properties": {} }
													}
												}
											}
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n  \"success\": false,\n  \"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					},
					"422": {
						"description": "422",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"success\": false,\n  \"message\": \"Unprocessable Entity\",\n  \"data\": {\n    \"name\": \"O campo name é obrigatório.\"\n  }\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Unprocessable Entity" },
										"data": {
											"type": "object",
											"properties": {
												"name": { "type": "string", "example": "O campo name é obrigatório." }
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"get": {
				"summary": "Listar empresas",
				"description": "",
				"operationId": "listar-empresas",
				"parameters": [
					{
						"name": "show",
						"in": "query",
						"description": "Número de itens na página de resultado.",
						"schema": { "type": "integer", "format": "int32" }
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Hash da próxima página.",
						"schema": { "type": "string", "default": "\"\"" }
					},
					{
						"name": "with",
						"in": "query",
						"description": "Obter recursos com relações. Opções:`personsRelated.person` ,`personsRelated`,`deals_involved`,`activities`,`emails`,`contactEmails`,`'contactPhones`",
						"schema": { "type": "string" }
					},
					{
						"name": "city_id",
						"in": "query",
						"description": "Filtrar pelo ID da cidade da empresa.",
						"schema": { "type": "integer", "format": "int32" }
					},
					{
						"name": "manager_id",
						"in": "query",
						"description": "Filtrar pelo ID do usuário CS responsável pela empresa.",
						"schema": { "type": "integer", "format": "int32" }
					},
					{
						"name": "segment_id",
						"in": "query",
						"description": "Filtrar pelo ID do segmento de negócio da empresa.",
						"schema": { "type": "integer", "format": "int32" }
					},
					{
						"name": "name",
						"in": "query",
						"description": "Filtrar pelo nome da empresa.",
						"schema": { "type": "string" }
					},
					{
						"name": "starts_with",
						"in": "query",
						"description": "Filtrar pelo início do nome da empresa.",
						"schema": { "type": "string" }
					},
					{
						"name": "cnpj",
						"in": "query",
						"description": "Filtrar pelo CNPJ da empresa. Formatos aceitos: \"XXXXXXXX0001XX\" e \"XX.XXX.XXX/0001-XX\".",
						"schema": { "type": "string" }
					},
					{
						"name": "observation",
						"in": "query",
						"description": "Filtrar pelas observações sobre a empresa.",
						"schema": { "type": "string" }
					},
					{
						"name": "website",
						"in": "query",
						"description": "Filtrar pelo website da empresa.",
						"schema": { "type": "string" }
					},
					{
						"name": "company_status",
						"in": "query",
						"description": "Filtrar pelo status ativo/inativo do registro da empresa.",
						"schema": { "type": "boolean" }
					},
					{
						"name": "company_situation",
						"in": "query",
						"description": "Filtrar pela situação da empresa: 1: lead, 2: lead suspect, 3: lead qualificado de marketing (MQL), 4: lead qualificado de vendas (SQL), 5: lead aceito por vendas (SAL), 6: lead prospects (OPs), 7: cliente ativo, 8: cliente inativo, 9: cliente perdido.",
						"schema": { "type": "integer", "format": "int32" }
					},
					{
						"name": "status_touch",
						"in": "query",
						"description": "Filtrar pelo modelo touch da empresa: 1: high touch, 2: middle touch, 3: low touch, 4: tech touch, 5: now touch.",
						"schema": { "type": "integer", "format": "int32" }
					},
					{
						"name": "is_brand",
						"in": "query",
						"description": "Filtrar pelo tipo de empresa: marca.",
						"schema": { "type": "boolean" }
					},
					{
						"name": "is_supplier",
						"in": "query",
						"description": "Filtrar pelo tipo de empresa: fornecedor.",
						"schema": { "type": "boolean" }
					},
					{
						"name": "is_client",
						"in": "query",
						"description": "Filtrar pelo tipo de empresa: cliente.",
						"schema": { "type": "boolean" }
					},
					{
						"name": "is_carrier",
						"in": "query",
						"description": "Filtrar pelo tipo de empresa: transportadora.",
						"schema": { "type": "boolean" }
					},
					{
						"name": "is_franchise",
						"in": "query",
						"description": "Filtrar pelo tipo de empresa: franquia.",
						"schema": { "type": "boolean" }
					},
					{
						"name": "is_channel",
						"in": "query",
						"description": "Filtrar pelo tipo de empresa: canal de venda.",
						"schema": { "type": "boolean" }
					},
					{
						"name": "status",
						"in": "query",
						"description": "Filtrar pela situação cadastral ativo/inativo da empresa.",
						"schema": { "type": "boolean" }
					},
					{
						"name": "external_code",
						"in": "query",
						"description": "Filtrar pelo código externo da empresa.",
						"schema": { "type": "string" }
					},
					{
						"name": "customer_at_start",
						"in": "query",
						"description": "Filtrar por registros de empresas que viraram clientes a partir da data e hora informada.",
						"schema": { "type": "string", "format": "date" }
					},
					{
						"name": "customer_at_end",
						"in": "query",
						"description": "Filtrar por registros de empresas que viraram clientes até data e hora informada.",
						"schema": { "type": "string", "format": "date" }
					},
					{
						"name": "created_at_start",
						"in": "query",
						"description": "Filtrar por registros de empresas criadas a partir da data e hora informada.",
						"schema": { "type": "string", "format": "date" }
					},
					{
						"name": "created_at_end",
						"in": "query",
						"description": "Filtrar por registros de empresas criadas até a datae hora informada.",
						"schema": { "type": "string", "format": "date" }
					},
					{
						"name": "updated_at_start",
						"in": "query",
						"description": "Filtrar por registros de pessoas atualizadas a partir da data e hora informada.",
						"schema": { "type": "string", "format": "date" }
					},
					{
						"name": "updated_at_end",
						"in": "query",
						"description": "Filtrar por registros de pessoas atualizadas até a data e hora informada.",
						"schema": { "type": "string", "format": "date" }
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n    \"success\": true,\n    \"message\": \"OK\",\n    \"data\": [\n        {\n            \"id\": 00000000,\n            \"account_id\": 000,\n            \"cnae_id\": null,\n            \"city_id\": 0000,\n            \"manager_id\": null,\n            \"segment_id\": null,\n            \"name\": \"NOME DA EMPRESA\",\n            \"cnpj\": null,\n            \"website\": null,\n            \"email_nf\": null,\n            \"logo\": null,\n            \"hash\": \"a00a0a0a0a0a0a0a0\",\n            \"observation\": \"\",\n            \"address_postal_code\": null,\n            \"address\": null,\n            \"address_number\": null,\n            \"address_complement\": null,\n            \"company_name\": null,\n            \"ie\": null,\n            \"district\": null,\n            \"country\": null,\n            \"facebook\": null,\n            \"linkedin\": null,\n            \"cep\": null,\n            \"company_type\": null,\n            \"company_status\": null,\n            \"company_situation\": null,\n            \"status_touch\": null,\n            \"nps_score\": null,\n            \"social_capital\": null,\n            \"legal_nature\": null,\n            \"lat\": null,\n            \"lng\": null,\n            \"status\": true,\n            \"external_code\": null,\n            \"foreign_contact\": 0,\n            \"size\": null,\n            \"customer_at\": null,\n            \"foundation_at\": null,\n            \"updated_at\": \"2022-11-09 15:58:19\",\n            \"created_at\": \"2022-11-09 15:58:19\",\n            \"is_brand\": false,\n            \"is_supplier\": false,\n            \"is_client\": false,\n            \"is_carrier\": false,\n            \"is_franchise\": false,\n            \"is_channel\": false,\n            \"owner_id\": null,\n            \"manager_field_sales_id\": null,\n            \"is_distributor\": false,\n            \"is_manufacturer\": false,\n            \"is_partner\": false\n        }\n    ],\n    \"meta\": {\n    \"cursor\": {\n      \"current\": null,\n      \"prev\": null,\n      \"next\": \"eyJpZCI6M......1ZX0\",\n      \"count\": null\n    }\n    }\n}\n"
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n  \"success\": false,\n  \"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/activities/{id}": {
			"delete": {
				"summary": "Deletar atividade",
				"description": "Deletar uma atividade da conta do PipeRun.",
				"operationId": "deletar-atividades",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID da atividade.",
						"schema": { "type": "integer", "format": "int32" },
						"required": true
					}
				],
				"responses": {
					"204": {
						"description": "204",
						"content": {
							"application/json": {
								"examples": { "Result": { "value": "{}" } },
								"schema": { "type": "object", "properties": {} }
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n  \"success\": false,\n  \"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"get": {
				"summary": "Buscar atividade",
				"description": "Busca por uma atividade específica por ID na conta.",
				"operationId": "buscar-atividade",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID da atividade.",
						"schema": { "type": "integer", "format": "int32" },
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n    \"success\": true,\n    \"message\": \"OK\",\n    \"data\": [\n        {\n            \"id\": 11686669,\n            \"status\": 0,\n            \"appointment_id\": null,\n            \"activity_type_id\": 55771,\n            \"owner_id\": 34270,\n            \"account_id\": 8457,\n            \"deal_id\": 11076387,\n            \"time_utilized\": null,\n            \"time_estimated\": null,\n            \"duration\": 30,\n            \"priority\": 3,\n            \"type\": 1,\n            \"requester_id\": 34270,\n            \"title\": \"Atividade de Follow\",\n            \"description\": \"Atividade de Follow\",\n            \"hash\": \"210823061452\",\n            \"comment\": null,\n            \"appearin_link\": null,\n            \"order\": null,\n            \"lat\": 0,\n            \"lng\": 0,\n            \"google_calendar_id\": null,\n            \"outlook_calendar_id\": null,\n            \"delivery_date\": null,\n            \"start_at\": \"2021-08-24 14:00:00\",\n            \"end_at\": \"2021-08-24 14:30:00\",\n            \"internal_date\": null,\n            \"created_at\": \"2021-08-23 18:02:46\",\n            \"updated_at\": \"2021-08-23 18:02:46\",\n            \"companies\": [\n                {\n                    \"id\": 5332635,\n                    \"account_id\": 8457,\n                    \"cnae_id\": 640,\n                    \"city_id\": 4904,\n                    \"manager_id\": 34270,\n                    \"segment_id\": 96645,\n                    \"name\": \"CRM PipeRun\",\n                    \"cnpj\": \"08.692.236/0001-48\",\n                    \"website\": \"https://crmpiperun.com/\",\n                    \"email_nf\": null,\n                    \"logo\": null,\n                    \"hash\": \"c5i1tfh5hcg844g0s4wowc0cc0wsgoo\",\n                    \"observation\": null,\n                    \"address_postal_code\": \"90560-002\",\n                    \"address\": \"AV CRISTOVAO COLOMBO\",\n                    \"address_number\": \"2948\",\n                    \"address_complement\": \"SALA 714\",\n                    \"company_name\": \"ODIG - SOLUCOES DIGITAIS LTDA\",\n                    \"ie\": null,\n                    \"district\": \"FLORESTA\",\n                    \"country\": null,\n                    \"facebook\": \"https://www.facebook.com/piperuncrm\",\n                    \"linkedin\": \"https://www.linkedin.com/company/piperun-crm/\",\n                    \"cep\": \"90560-002\",\n                    \"company_type\": null,\n                    \"company_status\": null,\n                    \"company_situation\": 1,\n                    \"status_touch\": null,\n                    \"nps_score\": null,\n                    \"social_capital\": 10000,\n                    \"legal_nature\": null,\n                    \"lat\": \"-30.017794\",\n                    \"lng\": \"-51.195398\",\n                    \"status\": true,\n                    \"external_code\": null,\n                    \"foreign_contact\": 0,\n                    \"size\": \"EMPRESA DE PEQUENO PORTE\",\n                    \"customer_at\": null,\n                    \"foundation_at\": \"2007-02-13\",\n                    \"updated_at\": \"2021-03-06 20:27:26\",\n                    \"created_at\": \"2021-03-06 17:03:35\",\n                    \"is_brand\": true,\n                    \"is_supplier\": true,\n                    \"is_client\": true,\n                    \"is_carrier\": true,\n                    \"is_franchise\": true,\n                    \"is_channel\": false,\n                    \"owner_id\": null,\n                    \"manager_field_sales_id\": null,\n                    \"is_distributor\": false,\n                    \"is_manufacturer\": false,\n                    \"is_partner\": false\n                }\n            ]\n        }\n    ]\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": true, "default": true },
										"message": { "type": "string", "example": "OK" },
										"data": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"id": { "type": "integer", "example": 11686669, "default": 0 },
													"status": { "type": "integer", "example": 0, "default": 0 },
													"appointment_id": {},
													"activity_type_id": { "type": "integer", "example": 55771, "default": 0 },
													"owner_id": { "type": "integer", "example": 34270, "default": 0 },
													"account_id": { "type": "integer", "example": 8457, "default": 0 },
													"deal_id": { "type": "integer", "example": 11076387, "default": 0 },
													"time_utilized": {},
													"time_estimated": {},
													"duration": { "type": "integer", "example": 30, "default": 0 },
													"priority": { "type": "integer", "example": 3, "default": 0 },
													"type": { "type": "integer", "example": 1, "default": 0 },
													"requester_id": { "type": "integer", "example": 34270, "default": 0 },
													"title": { "type": "string", "example": "Atividade de Follow" },
													"description": { "type": "string", "example": "Atividade de Follow" },
													"hash": { "type": "string", "example": "210823061452" },
													"comment": {},
													"appearin_link": {},
													"order": {},
													"lat": { "type": "integer", "example": 0, "default": 0 },
													"lng": { "type": "integer", "example": 0, "default": 0 },
													"google_calendar_id": {},
													"outlook_calendar_id": {},
													"delivery_date": {},
													"start_at": { "type": "string", "example": "2021-08-24 14:00:00" },
													"end_at": { "type": "string", "example": "2021-08-24 14:30:00" },
													"internal_date": {},
													"created_at": { "type": "string", "example": "2021-08-23 18:02:46" },
													"updated_at": { "type": "string", "example": "2021-08-23 18:02:46" },
													"companies": {
														"type": "array",
														"items": {
															"type": "object",
															"properties": {
																"id": { "type": "integer", "example": 5332635, "default": 0 },
																"account_id": { "type": "integer", "example": 8457, "default": 0 },
																"cnae_id": { "type": "integer", "example": 640, "default": 0 },
																"city_id": { "type": "integer", "example": 4904, "default": 0 },
																"manager_id": { "type": "integer", "example": 34270, "default": 0 },
																"segment_id": { "type": "integer", "example": 96645, "default": 0 },
																"name": { "type": "string", "example": "CRM PipeRun" },
																"cnpj": { "type": "string", "example": "08.692.236/0001-48" },
																"website": {
																	"type": "string",
																	"example": "https://crmpiperun.com/"
																},
																"email_nf": {},
																"logo": {},
																"hash": {
																	"type": "string",
																	"example": "c5i1tfh5hcg844g0s4wowc0cc0wsgoo"
																},
																"observation": {},
																"address_postal_code": { "type": "string", "example": "90560-002" },
																"address": { "type": "string", "example": "AV CRISTOVAO COLOMBO" },
																"address_number": { "type": "string", "example": "2948" },
																"address_complement": { "type": "string", "example": "SALA 714" },
																"company_name": {
																	"type": "string",
																	"example": "ODIG - SOLUCOES DIGITAIS LTDA"
																},
																"ie": {},
																"district": { "type": "string", "example": "FLORESTA" },
																"country": {},
																"facebook": {
																	"type": "string",
																	"example": "https://www.facebook.com/piperuncrm"
																},
																"linkedin": {
																	"type": "string",
																	"example": "https://www.linkedin.com/company/piperun-crm/"
																},
																"cep": { "type": "string", "example": "90560-002" },
																"company_type": {},
																"company_status": {},
																"company_situation": {
																	"type": "integer",
																	"example": 1,
																	"default": 0
																},
																"status_touch": {},
																"nps_score": {},
																"social_capital": {
																	"type": "integer",
																	"example": 10000,
																	"default": 0
																},
																"legal_nature": {},
																"lat": { "type": "string", "example": "-30.017794" },
																"lng": { "type": "string", "example": "-51.195398" },
																"status": { "type": "boolean", "example": true, "default": true },
																"external_code": {},
																"foreign_contact": {
																	"type": "integer",
																	"example": 0,
																	"default": 0
																},
																"size": { "type": "string", "example": "EMPRESA DE PEQUENO PORTE" },
																"customer_at": {},
																"foundation_at": { "type": "string", "example": "2007-02-13" },
																"updated_at": {
																	"type": "string",
																	"example": "2021-03-06 20:27:26"
																},
																"created_at": {
																	"type": "string",
																	"example": "2021-03-06 17:03:35"
																},
																"is_brand": { "type": "boolean", "example": true, "default": true },
																"is_supplier": {
																	"type": "boolean",
																	"example": true,
																	"default": true
																},
																"is_client": {
																	"type": "boolean",
																	"example": true,
																	"default": true
																},
																"is_carrier": {
																	"type": "boolean",
																	"example": true,
																	"default": true
																},
																"is_franchise": {
																	"type": "boolean",
																	"example": true,
																	"default": true
																},
																"is_channel": {
																	"type": "boolean",
																	"example": false,
																	"default": true
																},
																"owner_id": {},
																"manager_field_sales_id": {},
																"is_distributor": {
																	"type": "boolean",
																	"example": false,
																	"default": true
																},
																"is_manufacturer": {
																	"type": "boolean",
																	"example": false,
																	"default": true
																},
																"is_partner": {
																	"type": "boolean",
																	"example": false,
																	"default": true
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n  \"success\": false,\n  \"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"put": {
				"summary": "Atualizar atividade",
				"description": "",
				"operationId": "atualizar-1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID da atividade.",
						"schema": { "type": "integer", "format": "int32" },
						"required": true
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"activity_type_id": {
										"type": "integer",
										"description": "ID do tipo de atividade",
										"format": "int32"
									},
									"status": {
										"type": "integer",
										"description": "Status da atividade (0= aberta / 2= concluída / 4= no-show)",
										"format": "int32"
									},
									"owner_id": {
										"type": "integer",
										"description": "ID do usuário responsável pela atividade",
										"format": "int32"
									},
									"deal_id": {
										"type": "integer",
										"description": "ID da oportunidade vinculada a atividade",
										"format": "int32"
									},
									"requester_id": {
										"type": "integer",
										"description": "ID do usuário que criou a atividade",
										"format": "int32"
									},
									"title": { "type": "string", "description": "Título da atividade" },
									"description": { "type": "string", "description": "Descrição da atividade" },
									"comment": {
										"type": "string",
										"description": "Comentário de conclusão da atividade"
									},
									"appearin_link": {
										"type": "string",
										"description": "Link da sala de videoconferência vinculado a atividade"
									},
									"duration": {
										"type": "integer",
										"description": "Duração em minutos da atividade",
										"format": "int32"
									},
									"start_at": {
										"type": "string",
										"description": "Atualiza a data e hora de início da atividade. É possível informar data (nos formatos DD-MM-AAAA ou AAAA-MM-DD) ou data e hora (DD-MM-AAAA HH:MM:SS ou AAAA-MM-DD HH:MM:SS)",
										"format": "date"
									},
									"delivery_date": {
										"type": "string",
										"description": "Atualiza a data e hora de conclusão da atividade. É possível informar data (nos formatos DD-MM-AAAA ou AAAA-MM-DD) ou data e hora (DD-MM-AAAA HH:MM:SS ou AAAA-MM-DD HH:MM:SS)",
										"format": "date"
									},
									"end_at": {
										"type": "string",
										"description": "Atualiza a data e hora de término da atividade. É possível informar data (nos formatos DD-MM-AAAA ou AAAA-MM-DD) ou data e hora (DD-MM-AAAA HH:MM:SS ou AAAA-MM-DD HH:MM:SS)",
										"format": "date"
									},
									"reminders": {
										"type": "array",
										"description": "Array contendo um valor inteiro referente ao prazo (em minutos) para o disparo das notificações do início da atividade. O valor deve estar entre 5 e 10080 minutos.",
										"items": { "type": "integer", "format": "int32" }
									},
									"persons": {
										"type": "array",
										"description": "Array contendo um valor inteiro referente ao ID das pessoas envolvidas na atividade.",
										"items": { "type": "integer", "format": "int32" }
									},
									"companies": {
										"type": "array",
										"description": "Array contendo um valor inteiro referente ao ID das empresas envolvidas na atividade.",
										"items": { "type": "integer", "format": "int32" }
									},
									"time_utilized": {
										"type": "integer",
										"description": "Tempo em minutos utilizado até a conclusão da atividade",
										"format": "int32"
									},
									"time_estimated": {
										"type": "integer",
										"description": "Tempo em minutos estimados para a conclusão da atividade",
										"format": "int32"
									},
									"hash": {
										"type": "string",
										"description": "Hash de identificação da atividade."
									},
									"google_calendar_id": {
										"type": "string",
										"description": "ID da agenda do Google"
									},
									"outlook_calendar_id": {
										"type": "string",
										"description": "ID da agenda do Outlook"
									},
									"created_at": {
										"type": "string",
										"description": "Data da criação da atividade (somente poderá ser alterado caso esteja habilitada a configuração de \"Permitir editar data de cadastro das atividades\" no CRM de vendas PipeRun)",
										"format": "date"
									}
								}
							},
							"examples": {
								"Request Example": {
									"value": {
										"activity_type_id": 123456,
										"status": 0,
										"owner_id": 54321,
										"title": "Lembrete"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n    \"success\": true,\n    \"message\": \"OK\",\n    \"data\": {\n        \"id\": 00000000,\n        \"status\": 0,\n        \"appointment_id\": null,\n        \"activity_type_id\": 00000,\n        \"owner_id\": 00000,\n        \"account_id\": 00000,\n        \"deal_id\": 00000000,\n        \"time_utilized\": null,\n        \"time_estimated\": null,\n        \"duration\": 30,\n        \"priority\": 3,\n        \"type\": 5,\n        \"requester_id\": 00000,\n        \"title\": \"Atividade de Follow\",\n        \"description\": \"Atividade de Follow\",\n        \"hash\": \"000000000000\",\n        \"comment\": null,\n        \"appearin_link\": null,\n        \"order\": null,\n        \"lat\": 0,\n        \"lng\": 0,\n        \"google_calendar_id\": null,\n        \"outlook_calendar_id\": null,\n        \"delivery_date\": null,\n        \"start_at\": \"2021-08-24 14:00:00\",\n        \"end_at\": \"2021-08-24 14:30:00\",\n        \"internal_date\": null,\n        \"created_at\": \"2021-08-23 18:02:46\",\n        \"updated_at\": \"2022-12-14 12:06:42\"\n    }\n}\n"
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n  \"success\": false,\n  \"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/datalists": {
			"get": {
				"summary": "Listar listas de dados",
				"description": "",
				"operationId": "listar-listas-de-dados",
				"parameters": [
					{
						"name": "entity",
						"in": "query",
						"description": "Filtrar pela entidade vinculada à lista de dados: \"deals\": oportunidades, \"companies\": empresas, \"persons\": pessoas.",
						"schema": { "type": "string" }
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"success\": true,\n  \"message\": \"OK\",\n  \"data\": [\n    {\n      \"id\": 123,\n      \"account_id\": 123,\n      \"name\": \"LISTA DE DADOS -NOME\",\n      \"entity\": \"deals\",\n      \"created_at\": \"2025-07-21 17:21:04\",\n      \"updated_at\": \"2025-07-21 17:21:04\",\n      \"fields\": [\n        {\n          \"id\": 123,\n          \"datalist_id\": 123,\n          \"datalist_field_type_id\": 4,\n          \"name\": \"DATA PRODUTO 1\",\n          \"key\": \"7baebbc....6929ee9\",\n          \"order\": 1,\n          \"type\": {\n            \"id\": 4,\n            \"name\": \"date\",\n            \"table\": \"datalist_value_date\",\n            \"column\": \"value\",\n            \"column_join\": \"datalist_record_id\",\n            \"column_join_field\": \"datalist_field_id\",\n            \"native_table\": \"datalist_record\",\n            \"native_column_join\": \"id\"\n          },\n          \"options\": [\n            {\n              \"id\": 12140,\n              \"name\": \"ow\"\n            },\n            {\n              \"id\": 12141,\n              \"name\": \"aeee\"\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}\n"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": true, "default": true },
										"message": { "type": "string", "example": "OK" },
										"data": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"id": { "type": "integer", "example": 123, "default": 0 },
													"account_id": { "type": "integer", "example": 123, "default": 0 },
													"name": { "type": "string", "example": "LISTA DE DADOS -NOME" },
													"entity": { "type": "string", "example": "deals" },
													"created_at": { "type": "string", "example": "2025-07-21 17:21:04" },
													"updated_at": { "type": "string", "example": "2025-07-21 17:21:04" },
													"fields": {
														"type": "array",
														"items": {
															"type": "object",
															"properties": {
																"id": { "type": "integer", "example": 123, "default": 0 },
																"datalist_id": { "type": "integer", "example": 123, "default": 0 },
																"datalist_field_type_id": {
																	"type": "integer",
																	"example": 4,
																	"default": 0
																},
																"name": { "type": "string", "example": "DATA PRODUTO 1" },
																"key": { "type": "string", "example": "7baebbc....6929ee9" },
																"order": { "type": "integer", "example": 1, "default": 0 },
																"type": {
																	"type": "object",
																	"properties": {
																		"id": { "type": "integer", "example": 4, "default": 0 },
																		"name": { "type": "string", "example": "date" },
																		"table": { "type": "string", "example": "datalist_value_date" },
																		"column": { "type": "string", "example": "value" },
																		"column_join": {
																			"type": "string",
																			"example": "datalist_record_id"
																		},
																		"column_join_field": {
																			"type": "string",
																			"example": "datalist_field_id"
																		},
																		"native_table": {
																			"type": "string",
																			"example": "datalist_record"
																		},
																		"native_column_join": { "type": "string", "example": "id" }
																	}
																},
																"options": {
																	"type": "array",
																	"items": {
																		"type": "object",
																		"properties": {
																			"id": { "type": "integer", "example": 12140, "default": 0 },
																			"name": { "type": "string", "example": "ow" }
																		}
																	}
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n\"success\": false,\n\"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"post": {
				"summary": "Adicionar lista de dados",
				"description": "",
				"operationId": "adicionar-lista-de-dados",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"required": ["name", "entity"],
								"properties": {
									"name": { "type": "string", "description": "Nome do campo." },
									"entity": {
										"type": "string",
										"description": "Entidade relacionada:  \"deals\": oportunidades, \"companies\": empresas, \"persons\": pessoas."
									}
								}
							},
							"examples": {
								"Request Example": {
									"value": { "name": "Lista de dados de exemplo", "entity": "deals" }
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "201",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n\"success\": true,\n\"message\": \"Created\",\n\"data\": {\n\"id\": 748,\n\"account_id\": 748,\n\"name\": \"Teste\",\n\"entity\": \"persons\",\n\"created_at\": \"2020-01-17 10:32:13\",\n\"updated_at\": \"2020-01-17 10:32:13\",\n\"fields\": {\n\"id\": 748,\n\"datalist_id\": 748,\n\"datalist_field_type_id\": 748,\n\"name\": \"Teste\",\n\"key\": \"b6eea1400f0dc89466658ab8cbd636cb\",\n\"order\": 0,\n\"type\": {\n\"id\": 74,\n\"name\": \"\",\n\"table\": \"datalist_value_integer\",\n\"column\": \"value\",\n\"column_join\": \"datalist_record_id\",\n\"column_join_field\": \"datalist_field_id\",\n\"native_table\": \"datalist_record\",\n\"native_column_join\": \"id\"\n},\n\"options\": [ ]\n}\n}\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": true, "default": true },
										"message": { "type": "string", "example": "Created" },
										"data": {
											"type": "object",
											"properties": {
												"id": { "type": "integer", "example": 748, "default": 0 },
												"account_id": { "type": "integer", "example": 748, "default": 0 },
												"name": { "type": "string", "example": "Teste" },
												"entity": { "type": "string", "example": "persons" },
												"created_at": { "type": "string", "example": "2020-01-17 10:32:13" },
												"updated_at": { "type": "string", "example": "2020-01-17 10:32:13" },
												"fields": {
													"type": "object",
													"properties": {
														"id": { "type": "integer", "example": 748, "default": 0 },
														"datalist_id": { "type": "integer", "example": 748, "default": 0 },
														"datalist_field_type_id": {
															"type": "integer",
															"example": 748,
															"default": 0
														},
														"name": { "type": "string", "example": "Teste" },
														"key": {
															"type": "string",
															"example": "b6eea1400f0dc89466658ab8cbd636cb"
														},
														"order": { "type": "integer", "example": 0, "default": 0 },
														"type": {
															"type": "object",
															"properties": {
																"id": { "type": "integer", "example": 74, "default": 0 },
																"name": { "type": "string", "example": "" },
																"table": { "type": "string", "example": "datalist_value_integer" },
																"column": { "type": "string", "example": "value" },
																"column_join": {
																	"type": "string",
																	"example": "datalist_record_id"
																},
																"column_join_field": {
																	"type": "string",
																	"example": "datalist_field_id"
																},
																"native_table": { "type": "string", "example": "datalist_record" },
																"native_column_join": { "type": "string", "example": "id" }
															}
														},
														"options": {
															"type": "array",
															"items": { "type": "object", "properties": {} }
														}
													}
												}
											}
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n\"success\": false,\n\"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					},
					"422": {
						"description": "422",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n\"success\": false,\n\"message\": \"Unprocessable Entity\",\n\"data\": {\n\"name\": \"O campo name é obrigatório.\",\n\"entity\": \"O campo entity é obrigatório.\"\n}\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Unprocessable Entity" },
										"data": {
											"type": "object",
											"properties": {
												"name": { "type": "string", "example": "O campo name é obrigatório." },
												"entity": { "type": "string", "example": "O campo entity é obrigatório." }
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/datalists/{id}": {
			"put": {
				"summary": "Atualizar lista de dados",
				"description": "",
				"operationId": "atualizar-lista-de-dados",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID da lista de dados.",
						"schema": { "type": "integer", "format": "int32" },
						"required": true
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"name": { "type": "string", "description": "Nome do item." },
									"entity": {
										"type": "string",
										"description": "Entidade relacionada:  \"deals\": oportunidade, \"companies\": empresa, \"persons\": pessoa."
									}
								}
							},
							"examples": {
								"Request Example": { "value": { "name": "Lista de dados", "entity": "deals" } }
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"success\": true,\n  \"message\": \"OK\",\n  \"data\": {\n    \"id\": 748,\n    \"account_id\": 748,\n    \"name\": \"Teste\",\n    \"entity\": \"persons\",\n    \"created_at\": \"2020-01-17 10:32:13\",\n    \"updated_at\": \"2020-01-17 10:32:13\",\n    \"fields\": {}\n  }\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": true, "default": true },
										"message": { "type": "string", "example": "OK" },
										"data": {
											"type": "object",
											"properties": {
												"id": { "type": "integer", "example": 748, "default": 0 },
												"account_id": { "type": "integer", "example": 748, "default": 0 },
												"name": { "type": "string", "example": "Teste" },
												"entity": { "type": "string", "example": "persons" },
												"created_at": { "type": "string", "example": "2020-01-17 10:32:13" },
												"updated_at": { "type": "string", "example": "2020-01-17 10:32:13" },
												"fields": { "type": "object", "properties": {} }
											}
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n\"success\": false,\n\"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					},
					"422": {
						"description": "422",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n\"success\": false,\n\"message\": \"Malformed JSON.\"\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Malformed JSON." }
									}
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"delete": {
				"summary": "Deletar lista de dados",
				"description": "",
				"operationId": "deletar-lista-de-dados",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID da lista de dados.",
						"schema": { "type": "integer", "format": "int32" },
						"required": true
					}
				],
				"responses": {
					"204": {
						"description": "204",
						"content": {
							"application/json": {
								"examples": { "Result": { "value": "{}" } },
								"schema": { "type": "object", "properties": {} }
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n\"success\": false,\n\"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"get": {
				"summary": "Ver detalhes da lista de dados",
				"description": "",
				"operationId": "ver-detalhes-da-lista-de-dados",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID da lista de dados.",
						"schema": { "type": "integer", "format": "int32" },
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"success\": true,\n  \"message\": \"OK\",\n  \"data\": {\n    \"id\": 748,\n    \"account_id\": 748,\n    \"name\": \"Teste\",\n    \"entity\": \"persons\",\n    \"created_at\": \"2020-01-17 10:32:13\",\n    \"updated_at\": \"2020-01-17 10:32:13\",\n    \"fields\": {\n      \"id\": 748,\n      \"datalist_id\": 748,\n      \"datalist_field_type_id\": 748,\n      \"name\": \"Teste\",\n      \"key\": \"b6eea1400f0dc89466658ab8cbd636cb\",\n      \"order\": 0,\n      \"type\": {\n        \"id\": 74,\n        \"name\": \"\",\n        \"table\": \"datalist_value_integer\",\n        \"column\": \"value\",\n        \"column_join\": \"datalist_record_id\",\n        \"column_join_field\": \"datalist_field_id\",\n        \"native_table\": \"datalist_record\",\n        \"native_column_join\": \"\"\n      },\n      \"options\": [\n      ]\n    }\n  }\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": true, "default": true },
										"message": { "type": "string", "example": "OK" },
										"data": {
											"type": "object",
											"properties": {
												"id": { "type": "integer", "example": 748, "default": 0 },
												"account_id": { "type": "integer", "example": 748, "default": 0 },
												"name": { "type": "string", "example": "Teste" },
												"entity": { "type": "string", "example": "persons" },
												"created_at": { "type": "string", "example": "2020-01-17 10:32:13" },
												"updated_at": { "type": "string", "example": "2020-01-17 10:32:13" },
												"fields": {
													"type": "object",
													"properties": {
														"id": { "type": "integer", "example": 748, "default": 0 },
														"datalist_id": { "type": "integer", "example": 748, "default": 0 },
														"datalist_field_type_id": {
															"type": "integer",
															"example": 748,
															"default": 0
														},
														"name": { "type": "string", "example": "Teste" },
														"key": {
															"type": "string",
															"example": "b6eea1400f0dc89466658ab8cbd636cb"
														},
														"order": { "type": "integer", "example": 0, "default": 0 },
														"type": {
															"type": "object",
															"properties": {
																"id": { "type": "integer", "example": 74, "default": 0 },
																"name": { "type": "string", "example": "" },
																"table": { "type": "string", "example": "datalist_value_integer" },
																"column": { "type": "string", "example": "value" },
																"column_join": {
																	"type": "string",
																	"example": "datalist_record_id"
																},
																"column_join_field": {
																	"type": "string",
																	"example": "datalist_field_id"
																},
																"native_table": { "type": "string", "example": "datalist_record" },
																"native_column_join": { "type": "string", "example": "" }
															}
														},
														"options": {
															"type": "array",
															"items": { "type": "object", "properties": {} }
														}
													}
												}
											}
										}
									}
								}
							}
						}
					},
					"403": {
						"description": "403",
						"content": {
							"text/plain": {
								"examples": { "Result": { "value": "{}" } },
								"schema": { "type": "object", "properties": {} }
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n\"success\": false,\n\"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					},
					"422": {
						"description": "422",
						"content": {
							"text/plain": {
								"examples": { "Result": { "value": "{}" } },
								"schema": { "type": "object", "properties": {} }
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/activityTypes": {
			"post": {
				"summary": "Adicionar tipo de atividade",
				"description": "",
				"operationId": "adicionar-2",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"required": ["name", "active", "send_integration"],
								"properties": {
									"name": { "type": "string", "description": "Nome do tipo de atividade." },
									"active": {
										"type": "boolean",
										"description": "Status do tipo da atividade: false: tipo de atividade inativa, true: tipo de atividade ativa."
									},
									"send_integration": {
										"type": "boolean",
										"description": "Envia ou não as atividades cadastradas com este tipo para as agendas integradas do usuário (Google e Outlook Calendar). 0: não envia para agenda integrada, 1: envia para agenda integrada."
									},
									"description": {
										"type": "string",
										"description": "Descrição do tipo de atividade."
									},
									"activity_type_id": {
										"type": "integer",
										"description": "ID do tipo de atividade, caso seja um subtipo de atividade.",
										"format": "int32"
									},
									"icon": {
										"type": "string",
										"description": "Referenciação sobre o ícone da atividade. Para mais detalhes, consulte a página de considerações.",
										"default": "anchor"
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "201",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"activity_type_id\": 0,\n  \"name\": \"Atividade\",\n  \"icon\": \"pencil\",\n  \"description\": \"\",\n  \"active\": 1,\n  \"send_integration\": 0\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"activity_type_id": { "type": "integer", "example": 0, "default": 0 },
										"name": { "type": "string", "example": "Atividade" },
										"icon": { "type": "string", "example": "pencil" },
										"description": { "type": "string", "example": "" },
										"active": { "type": "integer", "example": 1, "default": 0 },
										"send_integration": { "type": "integer", "example": 0, "default": 0 }
									}
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"examples": { "Result": { "value": "{}" } },
								"schema": { "type": "object", "properties": {} }
							}
						}
					},
					"403": {
						"description": "403",
						"content": {
							"application/json": {
								"examples": { "Result": { "value": "{}" } },
								"schema": { "type": "object", "properties": {} }
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n  \"success\": false,\n  \"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					},
					"422": {
						"description": "422",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"success\": false,\n  \"message\": \"Unprocessable Entity\",\n  \"data\": {\n    \"name\": 1,\n    \"active\": 1,\n    \"send_integration\": 1\n  }\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Unprocessable Entity" },
										"data": {
											"type": "object",
											"properties": {
												"name": { "type": "integer", "example": 1, "default": 0 },
												"active": { "type": "integer", "example": 1, "default": 0 },
												"send_integration": { "type": "integer", "example": 1, "default": 0 }
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false,
				"security": []
			},
			"get": {
				"summary": "Listar tipos de atividade",
				"description": "",
				"operationId": "listar-2",
				"parameters": [
					{
						"name": "cursor",
						"in": "query",
						"description": "Hash da próxima página",
						"schema": { "type": "string", "default": "\"\"" }
					},
					{
						"name": "show",
						"in": "query",
						"description": "total de itens por página.",
						"schema": { "type": "integer", "format": "int32", "default": 200 }
					},
					{
						"name": "name",
						"in": "query",
						"description": "Filtrar pelo nome do tipo da atividade.",
						"schema": { "type": "string" }
					},
					{
						"name": "description",
						"in": "query",
						"description": "Filtrar pela descrição do tipo da atividade.",
						"schema": { "type": "string" }
					},
					{
						"name": "active",
						"in": "query",
						"description": "Filtrar pelo status do tipo da atividade: false: tipo de atividade inativa, true: tipo de atividade ativa.",
						"schema": { "type": "boolean" }
					},
					{
						"name": "pipeline_id",
						"in": "query",
						"description": "Filtrar pelo ID do funil vinculado ao tipo de atividade. Caso informe mais de um, separe por vírgulas: \"111, 222, 333\"",
						"schema": { "type": "string" }
					},
					{
						"name": "created_at_start",
						"in": "query",
						"description": "filtrar tipo de atividade pela data de criação.",
						"schema": { "type": "string", "format": "date-time", "default": "2025-01-01 00:00:00" }
					},
					{
						"name": "created_at_end",
						"in": "query",
						"description": "filtrar tipo de atividade pela data de criação.",
						"schema": { "type": "string", "format": "date-time", "default": "2025-01-01 23:59:59" }
					},
					{
						"name": "updated_at_start",
						"in": "query",
						"description": "filtrar tipo de atividade pela data de atualização.",
						"schema": { "type": "string", "format": "date", "default": "2025-01-01 00:00:00" }
					},
					{
						"name": "updated_at_end",
						"in": "query",
						"description": "filtrar tipo de atividade pela data de atualização.",
						"schema": { "type": "string", "format": "date-time", "default": "2025-01-01 23:59:59" }
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"success\": true,\n  \"message\": \"OK\",\n  \"data\": [\n    {\n      \"id\": 123,\n      \"account_id\": 123,\n      \"activity_type_id\": null,\n      \"name\": \"Atividade do tipo agenda\",\n      \"icon\": \"globe\",\n      \"description\": \"Descriçao do tipo de atividade\"\n      \"active\": 1,\n      \"send_integration\": 0,\n      \"created_at\": \"2025-07-25 15:09:32\",\n      \"updated_at\": \"2025-07-25 15:09:32\"\n    }\n  ],\n  \"meta\": {\n    \"cursor\": {\n      \"current\": null,\n      \"prev\": null,\n      \"next\": \"eyJpZCI6M....XRlbXMiOnRydWV9\",\n      \"count\": null\n    }\n  }\n}"
									}
								}
							}
						}
					},
					"401": {
						"description": "401",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n \"success\": false,\n\" message\": \"Unauthorized\"\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										" message": { "type": "string", "example": "Unauthorized" }
									}
								}
							}
						}
					},
					"422": {
						"description": "422",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"success\": false,\n  \"message\": \"Unprocessable Content\",\n  \"data\": {\n    \"name\": [\n      \"O campo nome é obrigatório.\"\n    ],\n    \"icon\": [\n      \"O campo icon é obrigatório.\"\n    ],\n    \"active\": [\n      \"O campo active é obrigatório.\"\n    ],\n    \"send_integration\": [\n      \"O campo send integration é obrigatório.\"\n    ]\n  }\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Unprocessable Content" },
										"data": {
											"type": "object",
											"properties": {
												"name": {
													"type": "array",
													"items": { "type": "string", "example": "O campo nome é obrigatório." }
												},
												"icon": {
													"type": "array",
													"items": { "type": "string", "example": "O campo icon é obrigatório." }
												},
												"active": {
													"type": "array",
													"items": { "type": "string", "example": "O campo active é obrigatório." }
												},
												"send_integration": {
													"type": "array",
													"items": {
														"type": "string",
														"example": "O campo send integration é obrigatório."
													}
												}
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/activityTypes/{id}": {
			"get": {
				"summary": "Ver detalhes do tipo da atividade",
				"description": "",
				"operationId": "ver-detalhes-1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID do tipo de atividade.",
						"schema": { "type": "integer", "format": "int32" },
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"success\": true,\n  \"message\": \"OK\",\n  \"data\": {\n    \"id\": 0,\n    \"activity_type_id\": 0,\n    \"name\": \"Atividade\",\n    \"icon\": \"pencil\",\n    \"description\": \"\",\n    \"active\": 1,\n    \"send_integration\": 0,\n    \"created_at\": \"2015-10-05 00:00:00\",\n\t\t\"updated_at\": \"2015-10-05 00:00:00\",\n  }\n}"
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n  \"success\": false,\n  \"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					}
				},
				"deprecated": false,
				"security": []
			},
			"put": {
				"summary": "Atualizar tipo de atividade",
				"description": "",
				"operationId": "atualizar-3",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID do tipo de atividade.",
						"schema": { "type": "integer", "format": "int32" },
						"required": true
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"name": { "type": "string", "description": "Nome do tipo de atividade." },
									"active": {
										"type": "boolean",
										"description": "Status do tipo da atividade: false: tipo de atividade inativa, true: tipo de atividade ativa."
									},
									"send_integration": {
										"type": "boolean",
										"description": "Envia ou não para as agendas integradas do usuário. 0: não envia para agenda integrada, 1: não envia para agenda integrada."
									},
									"description": {
										"type": "string",
										"description": "Descrição do tipo de atividade."
									},
									"activity_type_id": {
										"type": "integer",
										"description": "ID do tipo de atividade, caso seja um subtipo de atividade.",
										"format": "int32"
									},
									"icon": {
										"type": "string",
										"description": "Referenciação sobre o ícone da atividade. Para mais detalhes, consulte as considerações."
									}
								}
							},
							"examples": {
								"Request Example": {
									"value": {
										"name": "Ligação via Skype",
										"icon": "ticket",
										"description": "Ligar para o cliente via Skype",
										"active": 1,
										"activity_type_id": 73063,
										"send_integration": 1
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"success\": true,\n  \"message\": \"OK\",\n  \"data\": {\n    \"id\": 6,\n    \"activity_type_id\": 0,\n    \"name\": \"Atividade\",\n    \"icon\": \"pencil\",\n    \"description\": \"Tipo de atividade padrão.\",\n    \"active\": 1,\n    \"send_integration\": 0,\n      \t\t\t\"created_at\": \"2015-10-05 00:00:00\",\n\t\t\t\"updated_at\": \"2015-10-05 00:00:00\",\n  }\n}"
									}
								}
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n  \"success\": false,\n  \"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					},
					"422": {
						"description": "422",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"success\": false,\n  \"message\": \"Malformed JSON.\"\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Malformed JSON." }
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/activityType/{id}": {
			"delete": {
				"summary": "Deletar tipo de atividade",
				"description": "",
				"operationId": "deletar-tipo-de-atividade",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID do tipo de atividade.",
						"schema": { "type": "integer", "format": "int32" },
						"required": true
					}
				],
				"responses": {
					"204": {
						"description": "204",
						"content": {
							"application/json": {
								"examples": { "Result": { "value": "{}" } },
								"schema": { "type": "object", "properties": {} }
							}
						}
					},
					"404": {
						"description": "404",
						"content": {
							"application/json": {
								"examples": {
									"Result": { "value": "{\n  \"success\": false,\n  \"message\": \"Not Found\"\n}" }
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": false, "default": true },
										"message": { "type": "string", "example": "Not Found" }
									}
								}
							}
						}
					}
				},
				"deprecated": false,
				"security": []
			}
		},
		"/companies/{id}": {
			"put": {
				"summary": "Atualizar empresa",
				"description": "",
				"operationId": "atualizar-empresa",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID da empresa.",
						"schema": { "type": "string" },
						"required": true
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"name": { "type": "string", "description": "Nome da empresa." },
									"city_id": {
										"type": "integer",
										"description": "ID da cidade da empresa.",
										"format": "int32"
									},
									"manager_id": {
										"type": "integer",
										"description": "ID da conta do usuário CS responsável.",
										"format": "int32"
									},
									"segment_id": {
										"type": "integer",
										"description": "ID do segmento de negócio da empresa.",
										"format": "int32"
									},
									"cnae_id": {
										"type": "integer",
										"description": "ID do CNAE principal da empresa.",
										"format": "int32"
									},
									"cnaes": { "type": "array", "description": "CNAEs secundários da empresa." },
									"cnpj": {
										"type": "string",
										"description": "CNPJ da empresa.  Formatos aceitos: \"XXXXXXXX0001XX\" e \"XX.XXX.XXX/0001-XX\"."
									},
									"website": { "type": "string", "description": "URL do website da empresa." },
									"email_nf": {
										"type": "string",
										"description": "E-mail da empresa para envio de nota fiscal."
									},
									"logo": {
										"type": "string",
										"description": "URL apontando para logomarca da empresa."
									},
									"observation": {
										"type": "string",
										"description": "Observações sobre a empresa."
									},
									"address_postal_code": {
										"type": "string",
										"description": "Código postal da empresa."
									},
									"address": { "type": "string", "description": "Rua da empresa." },
									"address_number": {
										"type": "string",
										"description": "Número do endereço da empresa."
									},
									"address_complement": {
										"type": "string",
										"description": "Complemento do endereço da empresa."
									},
									"company_name": { "type": "string", "description": "Nome da empresa." },
									"ie": {
										"type": "string",
										"description": "Número da inscrição estadual da empresa."
									},
									"district": { "type": "string", "description": "Bairro do endereço da empresa." },
									"country": { "type": "string", "description": "País do endereço da empresa." },
									"facebook": {
										"type": "string",
										"description": "URL da página do Facebook da empresa."
									},
									"linkedin": {
										"type": "string",
										"description": "URL da página do Linkedin da empresa."
									},
									"customer_at": {
										"type": "string",
										"description": "Data em que a empresa se tornou cliente.",
										"format": "date"
									},
									"foundation_at": {
										"type": "string",
										"description": "Data da fundação da empresa.",
										"format": "date"
									},
									"company_type": {
										"type": "integer",
										"description": "Tipo de empresa:  1: Cliente, 2: Fornecedor, 3: Franquia, 4: Transportadora, 5: Canais.",
										"format": "int32"
									},
									"company_situation": {
										"type": "integer",
										"description": "Situação da empresa: 1: lead, 2: lead suspect, 3: lead qualificado de marketing (MQL), 4: lead qualificado de vendas (SQL), 5: lead aceito por vendas (SAL), 6: lead prospects (OPs), 7: cliente ativo, 8: cliente inativo, 9: cliente perdido.",
										"format": "int32"
									},
									"status_touch": {
										"type": "string",
										"description": "Modelo touch da empresa: 1: high touch, 2: middle touch, 3: low touch, 4: tech touch, 5: now touch."
									},
									"nps_score": {
										"type": "integer",
										"description": "Pontuação NPS da empresa.",
										"format": "int32"
									},
									"legal_nature": {
										"type": "string",
										"description": "Natureza jurídica da empresa. Campo preenchido automaticamente pela busca de CNPJ."
									},
									"social_capital": {
										"type": "number",
										"description": "Capital Social da empresa.",
										"format": "float"
									},
									"is_brand": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é marca."
									},
									"is_supplier": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é fornecedora."
									},
									"is_client": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é cliente."
									},
									"is_carrier": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é transportadora."
									},
									"is_franchise": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é franquia."
									},
									"is_channel": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é canal de venda."
									},
									"is_distributor": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é distribuidora."
									},
									"is_manufacturer": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é fabricante"
									},
									"is_partner": {
										"type": "boolean",
										"description": "Define o tipo de empresa: true: empresa é parceira."
									},
									"hash": { "type": "string", "description": "Hash identificadora da empresa." },
									"city": {
										"type": "object",
										"description": "Objeto de Cidade.",
										"properties": {}
									},
									"external_code": {
										"type": "string",
										"description": "Código externo, utilizado para integrações com outras ferramentas."
									},
									"status": {
										"type": "boolean",
										"description": "Situação cadastral da empresa: false: empresa desativada, true: empresa ativada."
									},
									"company_status": {
										"type": "boolean",
										"description": "Status da empresa: 1: lead, 2: cliente."
									},
									"foreign_contact": {
										"type": "boolean",
										"description": "Identifica se a empresa é estrangeira: true: empresa é estrangeira."
									},
									"size": { "type": "string", "description": "Porte da empresa." },
									"contactEmails": {
										"type": "array",
										"description": "Relação do(s) endereço(s) de contato de e-mail da empresa."
									},
									"contactPhones": {
										"type": "array",
										"description": "Relação do(s) telefone(s) de contato da empresa."
									},
									"customFields": {
										"type": "array",
										"description": "Array contendo os IDs e valores dos campos customizados.",
										"items": {
											"properties": {
												"id": {
													"type": "integer",
													"description": "ID do campo customizado.",
													"format": "int32"
												},
												"value": { "type": "string", "description": "Valor do campo customizado." }
											},
											"type": "object"
										}
									},
									"tags": {
										"type": "array",
										"description": "Array contendo os IDs das tags.",
										"items": {
											"properties": {
												"id": { "type": "integer", "description": "ID da Tag.", "format": "int32" }
											},
											"type": "object"
										}
									},
									"personsRelated": {
										"type": "array",
										"description": "Array que contém as pessoas que serão vinculadas a empresa.",
										"items": {
											"properties": {
												"id": {
													"type": "integer",
													"description": "ID da pessoa",
													"format": "int32"
												},
												"job_title": { "type": "string", "description": "Cargo da pessoa" },
												"is_main_company": {
													"type": "boolean",
													"description": "Se a empresa no qual a pessoa será vinculada é a principal empresa dela ou não",
													"default": false
												},
												"started_working_at": {
													"type": "string",
													"description": "Data que começou a trabalhar na empresa vinculada",
													"format": "date"
												}
											},
											"type": "object"
										}
									}
								}
							},
							"examples": {
								"Request Example": {
									"value": {
										"cnae_id": null,
										"city_id": 5271,
										"owner_id": 43447,
										"manager_id": 43446,
										"segment_id": 12345,
										"name": "Piperun",
										"cnpj": "73.211.403/0001-53",
										"website": "www.Piperun.com.br",
										"email_nf": "teste@email.com.br",
										"logo": "https://example.org/logo.png",
										"hash": "ccef1438a94a1987539f0767bbda403c",
										"observation": "O CRM de Vendas PipeRun é orientado para a automatização e o aumento de performance de vendas para empresas que atuam com vendas complexas e gestão de canais. ",
										"address_postal_code": "90560-002",
										"address": "Av. Cristóvão Colombo, 2948",
										"address_number": "12",
										"address_complement": "Av. Cristóvão Colombo, 2948",
										"company_name": "odig",
										"ie": "473.710.660.535",
										"district": "centro",
										"country": "Brasil",
										"facebook": "www.piperun.com",
										"linkedin": "https://example.org/linkedin",
										"customer_at": "2020-02-19",
										"foundation_at": "1990-02-25",
										"company_type": 1,
										"company_status": 1,
										"company_situation": 1,
										"status_touch": 1,
										"nps_score": 20500,
										"social_capital": 20000,
										"is_brand": false,
										"is_supplier": true,
										"is_client": true,
										"is_carrier": false,
										"is_franchise": false,
										"contactEmails": [
											{ "email": "email@teste.com.br" },
											{ "email": "emai2l@teste.com.br" }
										],
										"contactPhones": [{ "phone": "(51)3212-00-00" }, { "phone": "(55)3212-00-00" }],
										"customFields": [
											{
												"id": 174738,
												"name": "Número de funcionários",
												"hash": "a942e157d34scb966dbf0787f78378152",
												"type": 1,
												"belongs": 3,
												"value": "45",
												"raw_value": "45",
												"formula": null,
												"output_type": null,
												"decimal_places": 0,
												"allow_negative": null,
												"currency_id": null,
												"thousand_sep": null,
												"options": null,
												"selected_options": null
											},
											{
												"id": 174738,
												"name": "Telefones validados",
												"hash": "a942e157d34scb966cbf0787f7837843",
												"type": 1,
												"belongs": 3,
												"value": "45",
												"raw_value": "45",
												"formula": null,
												"output_type": null,
												"decimal_places": 0,
												"allow_negative": null,
												"currency_id": null,
												"thousand_sep": null,
												"options": null,
												"selected_options": null
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"examples": {
									"Result": {
										"value": "{\n  \"success\": true,\n  \"message\": \"OK\",\n  \"data\": {\n    \"id\": 748,\n    \"account_id\": 748,\n    \"cnae_id\": 748,\n    \"city_id\": 748,\n    \"owner_id\": 748,\n    \"manager_id\": 748,\n    \"segment_id\": 748,\n    \"name\": \"Teste\",\n    \"cnpj\": \"\",\n    \"website\": \"https://example.org/company\",\n    \"email_nf\": \"adm@odig.net\",\n    \"logo\": \"https://example.org/logo.png\",\n    \"hash\": \"ccef1438a94a1987539f0767bbda403c\",\n    \"observation\": \"\",\n    \"address_postal_code\": \"90560-002\",\n    \"address\": \"Av. Cristóvão Colombo, 2948\",\n    \"address_number\": \"12\",\n    \"address_complement\": \"\",\n    \"company_name\": \"odig\",\n    \"ie\": \"473.710.660.535\",\n    \"district\": \"centro\",\n    \"country\": \"Brasil\",\n    \"facebook\": \"\",\n    \"linkedin\": \"\",\n    \"city\": {\n      \"id\": 1,\n      \"uf\": \"RO\",\n      \"name\": \"Alta Floresta D'Oeste\"\n    },\n    \"cep\": \"90560-002\",\n    \"customer_at\": \"2020-02-19\",\n    \"foundation_at\": \"2020-02-19\",\n    \"created_at\": \"\",\n    \"company_type\": \"1\",\n    \"company_status\": 1,\n    \"company_situation\": 1,\n    \"status_touch\": 1,\n    \"nps_score\": 11222,\n    \"social_capital\": 111111,\n    \"is_brand\": true,\n    \"is_supplier\": true,\n    \"is_client\": true,\n    \"is_carrier\": true,\n    \"is_franchise\": true,\n    \"lat\": 1,\n    \"lng\": 1,\n    \"status\": 1,\n    \"external_code\": 1,\n    \"foreign_contact\": 0,\n    \"size\": 1,\n    \"contact_emails\": {\n      \"id\": 1,\n      \"account_id\": 748,\n      \"company_id\": 748,\n      \"person_id\": 748,\n      \"is_main\": 1,\n      \"type\": \"Comercial\",\n      \"email\": \"email@odig.net\"\n    },\n    \"contact_phones\": {\n      \"id\": 1,\n      \"account_id\": 748,\n      \"company_id\": 748,\n      \"person_id\": 748,\n      \"is_main\": 1,\n      \"type\": \"Comercial\",\n      \"phone\": \"(51)3212-00-00\"\n    },\n    \"custom_fields\": {}\n  }\n}"
									}
								},
								"schema": {
									"type": "object",
									"properties": {
										"success": { "type": "boolean", "example": true, "default": true },
										"message": { "type": "string", "example": "OK" },
										"data": {
											"type": "object",
											"properties": {
												"id": { "type": "integer", "example": 748, "default": 0 },
												"account_id": { "type": "integer", "example": 748, "default": 0 },
												"cnae_id": { "type": "integer", "example": 748, "default": 0 },
												"city_id": { "type": "integer", "example": 748, "default": 0 },
												"owner_id": { "type": "integer", "example": 748, "default": 0 },
												"manager_id": { "type": "integer", "example": 748, "default": 0 },
												"segment_id": { "type": "integer", "example": 748, "default": 0 },
												"name": { "type": "string", "example": "Teste" },
												"cnpj": { "type": "string", "example": "" },
												"website": { "type": "string", "example": "https://example.org/company" },
												"email_nf": { "type": "string", "example": "adm@odig.net" },
												"logo": { "type": "string", "example": "https://example.org/logo.png" },
												"hash": { "type": "string", "example": "ccef1438a94a1987539f0767bbda403c" },
												"observation": { "type": "string", "example": "" },
												"address_postal_code": { "type": "string", "example": "90560-002" },
[...]
